<form action="/playlist/add" method="POST">
    <input type="hidden" name="track_id" value="{{ track }}">
    <select name="playlist_id">
    {{#each playlists}}
        <option value="{{ this._id }}">{{ this.title }}</option>
    {{/each}}
    </select>
    <input type="submit" value="Select" class="btn">

</form>