

<div class="d-flex flex-wrap jumbotron text-center" style="height: 80vh;">
<div class="container text-center">
    <img src="/static/burnify.png"  class="card-img-top" style="width: 500px;"><br>
    <small>Jennifer's Experiment with the Spotify API</small>
    <form action="/search" method="POST" class="my-3">

        <input type="text" placeholder="Search for a song..." id="search" name="search" class="col-lg-9 form-control-lg">
        <button type="submit" class="btn-outline-primary form-control-lg">Search</button>

    </form>

</div>

</div>

