<div class="container">

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/playlist/new" method="post">
      <legend>New CD</legend>
      <div class="form-group">
        <label for="playlist-title">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          id="playlist-title"
          placeholder="Title"
        />

        <label for="playlist-description">Description</label>
        <input
          type="text"
          name="description"
          class="form-control"
          id="playlist-description"
          placeholder="Description"
        />
      </div>
      
      
      <div class="text-right">
        <button type="submit" class="btn btn-primary my-2">Create CD</button>
      </div>
    </form>
  </div>
</div>

</div>
