<h1>Showing results for: {{search}}</h1>

<ol>
{{#each tracks}}

{{!-- DISPLAYS ALBUM COVER --}}
{{#with this.album.images.[2]}}
<img src={{this.url}}>
{{/with}}

{{!-- DISPLAYS TRACK NAME --}}
<li>
    <h3>{{this.name}}</h3>
</li>

{{!-- DISPLAYS ARTIST --}}
    
{{#each this.album.artists}}
<p>{{this.name}}</p>
{{/each}}

    

{{/each}}
</ol>



