img {
    width: 200px;
    height: 100%;
}

.cardTitle {
    color: #e0dede;
}

.playlist-card {
    background-color:rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.row:hover {
    background-color: #201b1e;
}
.card {
    background-color: rgba(0, 0, 0, 0.7);
}