.playlist {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.image img {
    height: 40px;
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      
}
.details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: #e0dede; 
    }
.title {
    color: white;
    font-size: 4rem;
    }


.header_row {
    display: grid;
    grid-template-columns: 0.3fr 3fr 2fr 0.1fr;
    margin: 1rem 0 0 0;
    color: #dddcdc;
    position: sticky;
    top: 10vh;
    padding: 1rem 3rem;
    transition: 0.3s ease-in-out;
    /* background-color: ${({ headerBackground }) =>
    headerBackground ? "#181818"
    : "none"}; */
}
.tracks {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.row {
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 0.3fr 3.1fr 2.04fr 0.1fr;
}
.row:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.col {
    display: flex;
    align-items: center;
    color: #dddcdc;
    /* img {
    height: 40px;
    // width: 40px;
    } */
}
.detail {
    display: flex;
    gap: 1rem;
}
.info {
display: flex;
flex-direction: column;
}

.coverImage {
    /* height: 20rem; */
    width:15rem;
}

body {
    background-color: #201b1e;
}
        
Container {
    margin-top: 20px;
}

.spotify-button {
    width: 150px;
    background-color: #84B54A;
    border-color: #84B54A;
}
.spotify-button:hover {
    background-color: #6d943d;
    border-color: #6d943d;


}
a {
    color:white
}

a:hover{
    color: white;
}