.tracks {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.row {
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 0.3fr 3.1fr 2.04fr 0.1fr;
    justify-content: center;
    margin: auto;
}
    &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    }

.col {
display: flex;
align-items: center;
color: #dddcdc;
text-align: center;
}
img {
    height: 40px;
    /* width: 40px; */
}

.detail {
display: flex;
gap: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
}
body {
    color: #dddcdc;

}
.home-row{
    justify-content: center;
}

img {
    margin-left: 600px;
}
.form {
    margin-left: 150px;
}